name: build-apk

on: push: branches: - "master"

permissions: contents: read

jobs: build: runs-on: ubuntu-latest

steps:
  - name: Checkout
    uses: actions/checkout@v4

  - name: Setup Java
    uses: actions/setup-java@v4
    with:
      distribution: temurin
      java-version: 17

  - name: Setup Flutter
    uses: subosito/flutter-action@v2
    with:
      flutter-version: "3.32.8"
      channel: stable

  - name: Flutter pub get
    run: flutter pub get

  - name: Build APK
    run: flutter build apk --release

  - name: Upload Artifact
    uses: actions/upload-artifact@v4
    with:
      name: app-release
      path: build/app/outputs/flutter-apk/app-release.apk
